
.player {
    width: 14px;
    height: 196px;    
    position: relative;
    margin: 0 auto;
    top: -5px;
    /* background: url('/Images/button_wolves.svg') no-repeat left top;*/
}

.volume {
    position: absolute;

    margin: 0 auto;
    margin-top: 0px;
    height: 196px;
    width: 14px;
    background: url('/wolf-img/Track.svg') no-repeat left ;
}

.volume .ui-slider-range-min {
    height: 120px;
    width: 7px;
    position: absolute;
}

.volume .ui-slider-handle {
    width: 50px;
    height: 24px;
    background: url('/wolf-img/Slider.svg') no-repeat;
    position: absolute;
    margin-left: -19px;
    margin-bottom: -12px;
    
    cursor: pointer;
    outline: none;
}
