.player {
    width: 196px;
    height: 17px;    
    position: relative;
    margin: 0 auto;
    display: inline-block;
    padding-left: 6px;
    /* background: url('/Images/button_wolves.svg') no-repeat left top;*/
}

.volume {
    position: absolute;

    margin: 0 auto;
    margin-top: 0px;
    height: 13px;
    width: 196px;
    background: url('/wolf-img/FaderBar.png') no-repeat left ;
}

.volume .ui-slider-range-min {
    height: 120px;
    width: 7px;
    position: absolute;
}

.volume .ui-slider-handle {
    width: 15px;
    height: 35px;
    background: url('/wolf-img/Fader.png') no-repeat;
    position: absolute;
    margin-left: -8px;
    margin-top: -10px;
    
    cursor: pointer;
    outline: none;
}
