@font-face {
    font-family: futura;
    src: url('/wolf-fonts/futura.ttf');
}
.fa {
    color: rgb(96, 56, 19);
}
a.infoPopUp {
    display: inline;
    position: relative;
}
a.infoPopUp span{
    position: absolute;
    left: 20%;
    width:300px;
    padding: 6px;
    background: rgb(66, 26, 10);
    color: #fff;
    font-family: Helvetica;
/*    font-weight: 200;*/
    text-align: left;
    visibility: hidden;
    border-radius: 3px;
}
a:hover.infoPopUp span{
    transition-delay: .5s;
    visibility: visible;
    opacity: 0.9;
    top: 40px;
    z-index: 999;
}
.intro-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 10px;
    font-family: futura;
    font-size: 50px;
}
.separator {
    width: 85%;
    border: 0px;
    color: #000;
    background-color: #000;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.btnSeparator {
    color: rgb(96, 56, 19);
    background-color: rgb(96, 56, 19);
    height: 3px;
    border: 0px;
    width: 82%;
    margin-left: 18%;
}
.btnSeparator.leftSep {
    margin-left: auto;
    margin-right: 18%;
}
.separatorBoxL {
    border-right: 3px solid rgb(96, 56, 19);
}
.separatorBoxR {
    border-left: 3px solid rgb(96, 56, 19);
}
.labels {
    font-family: futura;
    text-align: center;
    color: rgb(96, 56, 19);
}
.centered {
    margin: auto;
    display: block;
}
.sliderContainer{
    width: 252px;
    height: 30px;
}
.sliderIconL {
    height: 20px;
    width: 12px;
    margin-top: -12px;
}
.sliderIconR {
    height: 23px;
    width: 25px;
    margin-top: -5px;
    float: right;
}
.btn-wrap {
    width: 150px;
}
.btn-play {
    padding: 1px;
    border: none;
    height: 50px;
    width: 50px;
    background: url('/wolf-img/Transport_Play.png') no-repeat center;
    background-size: cover;
    background-color: transparent;
}
.btn-pause {
    padding: 1px;
    border: none;
    height: 40px;
    width: 40px;
    background: url('/wolf-img/Transport_Pause.png') no-repeat center;
    background-size: cover;
    background-color: transparent;
    float: left;
    margin-top: 5px;
}
.btn-stop {
    padding: 1px;
    border: none;
    height: 40px;
    width: 40px;
    background: url('/wolf-img/Transport_Stop.png') no-repeat center;
    background-size: cover;
    background-color: transparent;
    margin-top: 5px;
    float: right;
}
/**
Slider CSS
**/
.player {
    width: 196px;
    height: 17px;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    padding-left: 6px;
}
.volume {
    position: absolute;

    margin: 0 auto;
    margin-top: 0px;
    height: 13px;
    width: 196px;
    background: url('/wolf-img/FaderBar.png') no-repeat left ;
}
.volume .ui-slider-range-min {
    height: 120px;
    width: 7px;
    position: absolute;
}
.volume .ui-slider-handle {
    width: 15px;
    height: 35px;
    background: url('/wolf-img/Fader.png') no-repeat;
    position: absolute;
    margin-left: -8px;
    margin-top: -10px;

    cursor: pointer;
    outline: none;
}
/*
Slide Show Carousel CSS
*/
.slideshow .carousel-inner{
    height: 700px;
}
.slideshow .carousel-inner > .item > img {
    height: 700px;
}
.slideshow .carousel-control {
    width: 10%;
}
/*
Background Slideshow CSS
*/
.bkg-slideshow,
.bkg-slideshow:after {
    list-style-type: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10;
}
.bkg-slideshow:after {
  content: '';
  background: url(../wolf-img/bkg/dotted_overlay.png) repeat top left;
}
.bkg-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -10;
    animation: imageAnimation 250s linear infinite 0s;
}
.bkg-slideshow li:nth-child(1) span {
    background-image: url(../wolf-img/bkg/bkg1.jpg)
}
.bkg-slideshow li:nth-child(2) span {
    background-image: url(../wolf-img/bkg/bkg2.jpg);
    animation-delay: 25s;
}
.bkg-slideshow li:nth-child(3) span {
    background-image: url(../wolf-img/bkg/bkg3.jpg);
    animation-delay: 50s;
}
.bkg-slideshow li:nth-child(4) span {
    background-image: url(../wolf-img/bkg/bkg4.jpg);
    animation-delay: 75s;
}
.bkg-slideshow li:nth-child(5) span {
    background-image: url(../wolf-img/bkg/bkg5.jpg);
    animation-delay: 100s;
}
.bkg-slideshow li:nth-child(6) span {
    background-image: url(../wolf-img/bkg/bkg6.jpg);
    animation-delay: 125s;
}
.bkg-slideshow li:nth-child(7) span {
    background-image: url(../wolf-img/bkg/bkg7.jpg);
    animation-delay: 150s;
}
.bkg-slideshow li:nth-child(8) span {
    background-image: url(../wolf-img/bkg/bkg8.jpg);
    animation-delay: 175s;
}
.bkg-slideshow li:nth-child(9) span {
    background-image: url(../wolf-img/bkg/bkg9.jpg);
    animation-delay: 200s;
}
.bkg-slideshow li:nth-child(10) span {
    background-image: url(../wolf-img/bkg/bkg10.jpg);
    animation-delay: 225s;
}
@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    3% { opacity: 1; animation-timing-function: ease-out; }
    11% { opacity: 1 }
    15% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations .bkg-slideshow li span{
	opacity: 1;
}
